{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center text-primary">Каталог книг</h1>
        <div class="row mt-4">
            {% for book in books %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.name }}</h5>
                        <p class="card-text"><strong>Автор:</strong> {{ book.author }}</p>

                        <p class="card-text">
                            <strong>Рейтинг:</strong>
                            {% if book.rank> 7.0 %}
                                <span class="text-success"> {{ book.rank }} </span>
                            {% elif movie.rating < 5.0 %}
                                <span class="text-warning"> {{ book.rank }} </span>
                            {% else %}
                                {{ book.rank }}
                            {% endif %}
                            </p>
                        <a href="http://127.0.0.1:8000/books/{{ book.id }}" class="btn btn-primary">Подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}